body {
    font-family: 'Open Sans', sans-serif;
    text-decoration: #112A46;
    background-color: #0081A7;
    margin: 0;
    padding: 20px;
    text-align: center;

}


header,
footer {

    margin-bottom: 20px;
    color: #ccc;


}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #ccc;
}

h2,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ccc
}

.listas ul {
    list-style-position: inside;
    /* marcadores mais próximos do texto */
    text-align: left;
    padding-left: 0;

}

footer {
    padding: 20px;
    text-align: center;
    background-color: #0e90b8;
    color: #ccc;


}

footer img {
    width: 30px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.8rem;

    }

    p {
        font-size: 1rem;
    }

    .container {
        padding: 10px;
    }
}